/*utilities*/

.h50 {
  height: 50px;
}

.h100 {
  height: 100px;
}

.h300 {
  height: 300px;
}

.jumbo-tron {
  background-color: rgb(35, 248, 177);
}

.title h2,
.title .star {
  text-align: center;
  margin: 20px auto;
}

/* nav */

nav li,
nav i {
  display: inline-block;
  list-style-type: none;
  vertical-align: middle;
}

nav li a {
  text-decoration: none;
}

.text-header {
  line-height: 50px;
  vertical-align: center;
}

.avatar {
  height: 350px;
}

/* about */

.about {
  background-color: rgb(35, 248, 177);
}

.top-footer {
  background-color: rgb(61, 61, 255);
}

.bottom-footer {
  background-color: rgb(32, 32, 32);
}

.top-text {
  text-align: center;
}

.text {
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
}

.justify-end {
  justify-content: flex-end;
}

.ec-align-content {
  align-content: center;
}

span {
  color: rgb(35, 248, 177);
}
