.navbar-nav,
.navbar .nav li a {
  color: white;
}

/*utilities*/

.h50 {
  height: 50px;
}

.h100 {
  height: 100px;
}

.h200 {
  height: 200px;
}

.h300 {
  height: 300px;
}

.h400 {
  height: 400px;
}

.h700 {
  height: 700px;
}

.h100per {
  height: 100%;
}

.jumbo-tron {
  background-color: rgb(35, 248, 177);
}

.title {
  text-align: center;
  margin: 20px auto;
}

/* about */

.about {
  background-color: rgb(35, 248, 177);
}

.top-footer {
  background-color: rgb(61, 61, 255);
}

.bottom-footer {
  background-color: rgb(32, 32, 32);
}

.top-text {
  text-align: center;
  color: white;
}

.text {
  text-align: center;
  line-height: 100px;
  vertical-align: middle;
  color: white;
}

.justify-end {
  justify-content: flex-end;
}

.ec-align-content {
  align-content: center;
}

span {
  color: rgb(35, 248, 177);
}

nav li,
nav i,
.ec-icon i {
  display: inline-block;
  list-style-type: none;
  vertical-align: middle;
}

nav li a {
  text-decoration: none;
  color: white;
}

.text-header {
  color: white;
  line-height: 50px;
  vertical-align: center;
}

.ec-icon i {
  color: white;
}

img {
  height: 300px;
}
